#num {
    text-align: center;
    font-size: 30px;
}
#bbox {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 10px;
    justify-content: center;

}
.sbox {
    height: 200px;
    width: 100%;
    background-color: darkgray;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    overflow: hidden;
}
#applelogo {
    position: absolute;
    width: min(50%, 200px);
    transition: transform 0.4s;
    left: 20px;
}
@media screen and (min-width:1200px) {
    .sbox {
        width: 1200px;
    }
}

@media screen and (max-width:650px) {
    .sbox {
        height: 400px;
    }
}
.sbox:hover {
    transform: translateY(-2px);
}
.sbox:hover img {
    transform: scale(1.2); 
}